@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
span {cursor: context-menu;}

@font-face {
    font-family: Rubik;
    src: url(../../assets/Rubik-Medium.ttf);
}


.header-wrapper {
    width: 100%;
    align-items: center;
    display: grid;
    position: fixed;
    grid-template-areas: "a b c d e f g h i j";
    grid-template-columns: repeat(10,1fr);
    background-color: #0e1020;
    height: 7vh;
    box-shadow: 0 5px 13px 0 #070911;
    top: 0%;
    z-index: 1;
}

#home{
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: c;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    transition: 0.3s;
    text-align: center;
}

#home:hover{
    color: #6afff3;

}

#info{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: d;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    transition: 0.3s;
}

#protect{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: f;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    transition: 0.3s;
    min-width: 40px;

}

#info:hover{
    color: #bf71ff;
}

#protect:hover{
    color: #6afff3;

}

#symp{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: e;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    transition: 0.3s;
    left: 10px;
}

#symp:hover{
    color: #9193a8;
}

#qa{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: g;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    transition: 0.3s;
    left: 25px;
}

#qa:hover{
    color: #bf71ff;
}



#corona-title{
    font-family: 'Pathway Gothic One', sans-serif;
    grid-area: b;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 7px;
    right: 30%;
}

#logo {
    grid-area: a;
    position: relative;
    bottom: 7px;
    width: 10vw;
    height: 40px;
    cursor: pointer;
}


#username{
    grid-area: d;
    font-family: rubik;
    font-size: 16px;
}

@media screen and (max-width: 675px) {

  #logo {
    grid-area: a;
    position: relative;
    bottom: 7px;
    width: 10vw;
  }

  #corona-title{
    position: relative;
    bottom: 7px;
    right: 0;
    min-width: 70px;
  }
  



}






