<div class="component-color">
<h4 id="title">CORONAVIRUS DISEASE REAL-TIME STATISTICS</h4>
<!-- ; else loader -->
<div *ngIf="AllCountriesArray.length > 1 ; else loader ">
        <div class="WorldlCard">
          <h2 id="IsraelTitle">COVID-19 WORLD STATISTICS</h2>
          <div class="grid-container-row">
            <p id="casesIL"> TOTAL CASES <br> {{ WorldStatResObject.total_cases }} </p>
            <p id="casesIL"> NEW CASES (24H) <br> +{{ WorldStatResObject.total_new_cases_today }} </p>
            <p id="deathsIL"> TOTAL DEATHS <br> {{ WorldStatResObject.total_deaths }} </p>
            <p id="deathsIL"> NEW DEATHS (24H) <br> +{{ WorldStatResObject.total_new_deaths_today }} </p>
            <p id="otherIL"> TOTAL RECOVERED <br> {{ WorldStatResObject.total_recovered }} </p>
          </div>
        </div>


      <div *ngFor="let stat of ILStatsArray">
          <div class="israelCard">
            <h2 id="IsraelTitle">COVID-19 ISRAEL STATISTICS</h2>
            <div class="grid-container">
              <p id="casesIL"> TOTAL CASES <br> {{stat.total_cases}} </p>
              <p id="casesIL"> NEW CASES (24H) <br> {{ stat.total_new_cases_today }} </p>
              <p id="deathsIL"> TOTAL DEATHS <br> {{ stat.total_deaths }} </p>
              <p id="deathsIL"> NEW DEATHS (24H) <br> {{ stat.total_new_deaths_today }} </p>
              <p id="otherIL"> TOTAL RECOVERED <br> {{ stat.total_recovered }} </p>
              <p id="otherIL"> SERIOUS CASES <br> {{ stat.total_serious_cases }} </p>
            </div>
          </div>
      </div>
</div>

<ng-template #loader>
  <div id="loaderContainer">
  <div class="loader loader--style2" title="1">
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="150px" height="150px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
      <animateTransform attributeType="xml"
        attributeName="transform"
        type="rotate"
        from="0 25 25"
        to="360 25 25"
        dur="0.6s"
        repeatCount="indefinite"/>
      </path>
    </svg>
  </div>
</div>
</ng-template>

    <h4 id="worldtitle">COVID-19 WORLD STATISTICS</h4>

    <app-search-bar (textChanged)="searchTextChanged($event)"></app-search-bar>

    <div class="cards-container">
      <div (click)="openDialog(stat.title)" class="card" *ngFor="let stat of StatsToDisplay" >
        <span id="countryName">{{ stat.title }}</span>
        <div class="centertxt"></div>
          <span id="totalCases">{{ stat.total_cases }}</span>
        </div>
    </div>
</div>
