
.md-dialog-container {
    background-color: turquoise;
}

/deep/ .mat-dialog-container {
  overflow-y: hidden !important;
}

svg path,
svg rect{
  fill: rgb(255, 255, 255);
}

.loader-grid-container{
  display: grid;
  justify-items: center;
  margin-top: 26%;
}


#cancel{
  bottom: 25px;
}


.stats-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #6afff3;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  grid-gap: 4px;
}


@media (max-width: 450px) {
  .loader-grid-container{
    margin-top: 36%;
  }

}
