#title{
    text-align: center;
    left: 20vh;
    color: #ffffff;
    padding-top: 12vh;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
  }
  