
#title{
    text-align: center;
    left: 20vh;
    margin-top: 13vh;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
}
#task-container {
    margin-top: 12vh;
    margin-right: 5vh;
}


@font-face {
    font-family: Rubik-light;
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(../../assets/rubik-light.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

@font-face {
    font-family: Rubik;
    src: url(../../assets/Rubik-Medium.ttf);
}

#timeTillTreatment {
    font-family: rubik-light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #696969;
    float: left;
    position: relative;
    left: 10px;
    top: 5px;
}

#taskNameDecorationOpen {
    width: 9px;
    height: 9px;
    border: solid 1px #37c306;
    border-radius: 10px;
    background-color: #d7ffc9;
    display: inline-block;
    position: relative;
    float: right;
    right: 48px;
    top: 28px;
}

#taskNameDecorationClosed {
    width: 9px;
    height: 9px;
    border: solid 1px #ff2323;
    border-radius: 10px;
    background-color: #ffb7b7;
    display: inline-block;
    position: relative;
    float: right;
    right: 48px;
    top: 28px;
}

.task {
    height: 110px;
    border-radius: 5px;
    border: solid 2px #9b98984b;
    background-color: #ffffff;
    margin-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.task:hover {
    border-radius: 4px;
    border: solid 1px #afc514;
}

.task #task-title {
    float: right;
    right: -13px;
    position: relative;
    top: 7px;
    font-family: Rubik;
    color: #3b3b3b;
}

.StatusImg {
    position: relative;
    float: right;
    right: 35px;
    top: 20px;
    width: 36px;
}

#task-id {
    float: left;
    position: relative;
    top: 44px;
    right: 75px;
    font-family: Rubik;
    font-size: 14px;
    color: #3b3b3b;
}

#task-date {
    position: relative;
    float: right;
    right: 56px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #3b3b3b;
    top: 45px;
}

.new-task-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

#task-status {
    width: 38px;
    font-family: Rubik-light;
    height: 30px;
    float: right;
    position: relative;
    top: 55px;
    text-align: center;
    max-width: 31px;
    line-height: 1.08;
    right: 2px;
    font-size: 14px;
}

.new-task-button:hover {
    cursor: pointer;
}

.new-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 46px;
    border-radius: 23px;
    background-color: #3f9c67;
    transition: ease-in 0.3s;
}

.new-task-button:hover {
    box-shadow: 0 5px 14px 0 rgba(206, 206, 206, 0.5);
    background-color: #afc514;
}

.kav {
    position: relative;
    float: right;
    right: 30px;
    width: 1px;
    height: 70px;
    background-color: #d8d8d8;
    border: none;
    top: 0.5vh;
}

.new-task-button #button-text {
    width: 88px;
    height: 19px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.new-task-button #button-plus {
    width: 28px;
    height: 28px;
    border-radius: 13.9px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-left: 4px;
}

.Group-2-Copy {
    width: 12px;
    height: 12px;
    object-fit: contain;
    margin-top: 8px;
}

.open-closed-tasks {
    display: flex;
    flex-direction: row-reverse;
}

.open-closed-tasks #text {
    margin-left: 5px;
}

.selected-tasks:hover {
    cursor: context-menu;
}

.unselected-tasks:hover {
    cursor: pointer!important;
}

.selected-tasks #text {
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f9c67;
}

.selected-tasks #seprate-line {
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
}

.unselected-tasks #seprate-line {
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
    visibility: hidden;
}

.unselected-tasks #text {
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #696969;
}

#scrollerComponents {
    height: 675px;
    width: 60vw;
}

#scrollerComponents::-webkit-scrollbar {
    display: none;
}
