<h4 id="title">הקורונה בישראל</h4>


<!-- <cdk-virtual-scroll-viewport id="scrollerComponents" itemSize="50" class="viewport"> -->
      <div *ngFor="let stat of StatsArray">
        <div class="task" >
          <p id="task-status">{{ stat.title }}</p>
          <!-- <hr class="kav"> -->
          <!-- <div id="taskNameDecorationOpen"></div>
          <p id="task-date">{{ task.open_date }}</p>
          <p id="task-title">{{ getTaskCategory(task) }}</p>
          <p id="timeTillTreatment">זמן צפוי לטיפול יומיים</p>
          <p id="task-id">{{ task.id }}</p>
        </div> -->
      </div>
    </div>
<!-- </cdk-virtual-scroll-viewport> -->