
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
/* #1cbfff */
#title{
  text-align: center;
  left: 20vh;
  color: #ffffff;
  padding-top: 12vh;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
}

#worldtitle{
  text-align: center;
  left: 20vh;
  color: #ffffff;
  padding-top: 7vh;
  padding-bottom: 3vh;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
}

#IsraelTitle{
  text-align: center;
  left: 20vh;
  margin-top: 0.2vh;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  font-weight: inherit;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  padding: 10px;
  text-align: center;
  grid-auto-flow: column;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#casesIL {
  color: #6afff3;
  font-size: 28px;
  transition: 0.2s;
  text-align: center;
}

#casesIL:hover {
  color: #6afff3;
  font-size: 2vw ;
}

#deathsIL {
  color: #bf71ff;
  font-size: 28px;
  transition: 0.2s;
  text-align: center;
}

#deathsIL:hover {
  color: #bf71ff;
  font-size: 2vw ;
}

#otherIL {
  color: #9193a8;
  font-size: 28px;
  transition: 0.2s;
  text-align: center;
}

#otherIL:hover {
  color: #9193a8;
  font-size: 2vw ;
}

.item1 {
  grid-row: 1 ;
}

h2 {
  margin-top: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: inherit;
}

.centertxt{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  box-shadow: 0 4px 30px rgba(0,0,0,.5);
  transition: 0.3s;
  margin: 2vh;
  background-color: #26273b;
  padding: 2px 16px;
  text-align: center;
  height: 18vh;
  font-weight: inherit;
  border-radius: 6px;
  font-family: 'Pathway Gothic One', sans-serif;
  width: 30vh;
}

.card:hover{
  cursor: pointer;
  width: 35vh;
  box-shadow: 0 5px 14px 0 black;
  background-color: #26273b;
  height: 20vh;
  color: #ffffff;
}

#totalCases{
  color: #6afff3;
  top: 3vh;
  font-size: 40px;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 100;
  position: relative;
}

.israelCard {
  padding: 40px;
  width: 65%;
  height: 35vh;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: inherit;
  border-radius: 20px;
  background-color: #26273b;
  margin: 60px auto;
  transition: 0.2s;
}

.grid-container-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}



.israelCard:hover{
  box-shadow: 0 5px 14px 0 black;
}

.WorldlCard{
  padding: 40px;
  width: 65%;
  height: 18vh;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: inherit;
  border-radius: 20px;
  background-color: #26273b;
  margin: 60px auto;
  transition: 0.2s;

}

.highlight {
  font-weight: bold;
  color: #294;
}

#countryName{
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: inherit;
  font-size: 2vw;
  color: white;
}





